Source: opengigabyte
Maintainer: Hemanth Bollamreddi <terry@terrys-home.co.uk>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 12),
               dkms
Standards-Version: 4.2.1
Vcs-Browser: https://github.com/blmhemu/opengigabyte/
Vcs-Git: https://github.com/blmhemu/opengigabyte.git
Homepage: https://blmhemu.github.io/opengigabyte

Package: opengigabyte-driver-dkms
Architecture: all
Section: kernel
Depends: ${misc:Depends},
         dkms,
         udev
Conflicts: gigabyte-kernel-modules-dkms,
           opengigabyte-kernel-modules-dkms
Provides: gigabyte-kernel-modules-dkms,
          opengigabyte-kernel-modules-dkms
Replaces: gigabyte-kernel-modules-dkms,
          opengigabyte-kernel-modules-dkms
Description: OpenGigabyte peripheral drivers (DKMS)
 OpenGigabyte is a collection of GNU/Linux drivers for the Gigabyte devices.
 Supported devices include keyboards, mice, mouse-mats, headsets and
 various other devices.
 .
 This package provides the source code for the OpenGigabyte kernel module to be
 build with dkms. Kernel sources or headers are required to compile this
 module.
 .
 Please read the Troubleshooting Guide in
 /usr/share/doc/opengigabyte-driver-dkms/README.Debian.
